body {
  
    background: url("images/mountain-pine-trees-wallpaper.jpg");
    background-position: bottom 1000px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container-fluid {
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
   clear: both;
  }
  hr {
    border-top: 2px solid rgb(84, 80, 79);
  
  }
  .socialImage {
   max-height: 65px;
   max-width: 65px;
  }
  h1 {
    color:rgb(242, 68, 5);
  }
  .text-wrap {
    float: left;
    clear: right;
    margin: 10px;
  }
   h3 { 
    font-size: medium;
    margin: 10px; 
    clear: left; 
   }
  .main-section {
   float: left;
   width: 100%;
   max-width: 500px;
   padding: 30px;
   margin: 0 0 40px;
   color: #fff;
   background: #1c2021;
   border: 1px solid #ffffff;
  }
  h4 {
    color: #e44c06;
  }
  .sidebar {
   float: right;
   width: 100%;
   max-width: 240px;
   padding: 40px;
   margin-bottom: 20px;
   color: #fff;
   background: #1c2021;
   border: 1px solid #ffffff;
  }
  footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 30px 0;
   clear: both;
   font-size: 12px;
   color: #fff;
   text-align: center;
   background: #1c2021;
   border-top: 8px solid #e44c06;
  }